name: package-store-admin

on:
  pull_request:
    branches:
      - "main"
    paths:
      - "src/store-admin/**"
  push:
    branches:
      - "main"
    paths:
      - "src/store-admin/**"

  workflow_dispatch:

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  publish-container-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set environment variables
        id: set-variables
        run: |
          echo "IMAGE=store-admin" >> "$GITHUB_OUTPUT"
          echo "VERSION=$(yq -r .appVersion ./charts/aks-store-demo/Chart.yaml)" >> "$GITHUB_OUTPUT"
          echo "CREATED=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> "$GITHUB_OUTPUT"

      - name: Env variable output
        id: test-variables
        run: |
          echo ${{ steps.set-variables.outputs.IMAGE }}
          echo ${{ steps.set-variables.outputs.VERSION }}
          echo ${{ steps.set-variables.outputs.CREATED }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - uses: azure/login@v2.3.0
        name: Azure login
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subscriptions: "true"

      - name: 'Build and push image'
        uses: azure/docker-login@v1
        with:
          login-server: ${{ vars.ACR_URL }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      - run: |
          docker build src/ai-service -t ${{ vars.ACR_URL }}/${{ steps.set-variables.outputs.IMAGE }}:${{ steps.set-variables.outputs.VERSION }} -t ${{ vars.ACR_URL }}/${{ steps.set-variables.outputs.IMAGE }}:latest
          docker push ${{ vars.ACR_URL }}/${{ steps.set-variables.outputs.IMAGE }}:${{ steps.set-variables.outputs.VERSION }}
